.accordion { 
    width: 100%;
    border-radius: rem(15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    &.active {
        .accordion__title::after {
            transform: rotateZ(45deg);
        }
        .accordion__content {
            opacity: 1;
            border-top: 1px solid;
            border-image: linear-gradient(to right, transparent, #10517c, transparent);
            padding: rem(15);
        }
    }
}
.accordion__title { 
    position: relative;
    width: 100%;
    text-align: left;
    padding: rem(15);
    padding-right: rem(30);
    font-weight: 600;
    font-size: rem(18);
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
        content: '\002B';
        font-size: rem(26);
        font-weight: 500;
        transition: transform ease-in-out .2s;
    }
    &::focus {
        outline: 3px solid red;
    }
}
.accordion__content { 
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}