.tabs {
    &__menu {
        .menu {
            &__list {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            &__item {
                &:first-child {
                    border-top-left-radius: rem(15);
                }
                &:last-child {
                    border-top-right-radius: rem(15);
                }
                cursor: pointer;
                background-color: rgba(135, 165, 209, 0.3);
                width: 100%;
                height: rem(50);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: rem(18);
                transition: background-color ease-in .2s;
                &.active, &:hover {
                    background-color: rgba(165, 171, 192, 0.1);
                }
            }
        }
    }
    &__content {
        padding: rem(30);
        background-color: rgba(165, 171, 192, 0.1);
        border-radius: 0 0 rem(15) rem(15);
    }
}